---
{title-block}title: {title}{end-title-block}
{created-at-block}created: {created-at}{end-created-at-block}
{updated-at-block}updated: {updated-at}{end-updated-at-block}
source: evernote
{notebook-block}notebook: {notebook}{end-notebook-block}
{tags-yaml-list-block}tags: {tags-yaml-list}{end-tags-yaml-list-block}
---

{content-block}{content}{end-content-block}
